<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Karyawan</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Aplikasi Data Pribadi</h1>
        <div class="input group mt-4 mb-4">
            Nik
            <input type="text" class="form-control">
            Nama
            <input type="text" class="form-control">
        </div>
        <a href="" class="btn btn-primary">search</a>
        <a href="/add" class="btn btn-primary">add</a>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>NIK</th>
                    <th>Nama Lengkap</th>
                    <th>Jenis Kelamin</th>
                    <th>Tanggal Lahir</th>
                    <th>Alamat</th>
                    <th>Negara</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterasi list karyawan dari model -->
                <tr th:each="karyawan : ${karyawanList}">
                    <td th:text="${karyawan.nik}"></td>
                    <td th:text="${karyawan.namaLengkap}"></td>
                    <td th:text="${karyawan.jenisKelamin}"></td>
                    <td th:text="${karyawan.tanggalLahir}"></td>
                    <td th:text="${karyawan.alamat}"></td>
                    <td th:text="${karyawan.negara}"></td>
                    <td>
                        <a href="">detail</a>
                        <a th:href="@{/edit/{nik}(nik=${karyawan.nik})}">edit</a>
                        <a th:href="@{/delete/{nik}(nik=${karyawan.nik})}" onclick="return confirm('Apakah Anda yakin ingin menghapus karyawan ini?');">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
